@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'OmnesLatinBold';
  src: url('../public/fonts/OmnesLatin-Bold.woff2');
  font-weight: 800;
}
@font-face {
  font-family: 'OmnesLatinSemiBold';
  src: url('../public/fonts/OmnesLatin-SemiBold.woff2');
  font-weight: 800;
}

input:focus-visible {
  outline: none;
  border: none;
}
